@import "./globalVariables";

.article-content {
  font-weight: 400;
  overflow-wrap: break-word;
  word-wrap: break-word;

  & p, ol {
    line-height: 32px;
  }

  & ol {
    padding-inline-start: 25px;
  }

  &  h1 {
    text-align: center;
    font-weight: 700;
  }

  & h2 {

  }

  & a {
    color: #226460;
    font-weight: bold;
  }

  & pre {
    padding: 10px 15px;
    border-radius: 5px;

  }

  & .block-img {
    & img {
      width: 100%;
      margin: 10px 0;
    }
  }

  .prismic-video {
      margin: 35px 0;
    & iframe {
      width: 900px !important;
      height: 505px !important;
    }
  }
}