
//variables


@theme-default: radial-gradient(circle, #136560, #0e4b54, #18323f, #161b23, #010101);
@theme1: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
@theme2: linear-gradient(to right, #4b6cb7, #182848);
@theme3: linear-gradient(to right, #ff0099, #493240);

@mainColor: #333;
@gray: #615f5f;
@lightGray: #fafafa;

@theme-default-main: #0e4b54;
@theme1-main: #f04f62;
@theme2-main: #4b6cb7;
@theme3-main: #ff0099;

