@import "./design";

body {
  background-color: white;
}


.grey-background {
  background-color: #fafafa;
}

.white-background, .grey-background, .padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-aside {
  padding: 15px 25px;
}

.margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-content {
  max-width: 1400px;
  margin: auto;
  padding: 15px 25px;

}

.intro {
  color: white;
  padding-top: 5rem;
  padding-bottom: 6rem;

  & h1 {
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
  }

  & p {
    max-width: 600px;
    width: 100%;
    margin: auto;
    font-size: 1.3em;
    font-style: italic;
  }
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.section-title {
  font-family: inherit;
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
}

.hashtag, .hashtag-right {
  position: relative;
  z-index: 0;
  font-family: inherit;
}

.grey-background {
  & .hashtag:before, .hashtag-right:before {
    color: #f5f5f5
  }
}


.hashtag:before, .hashtag-right:before {
  content: "#" attr(data-hashtag);
  position: absolute;
  z-index: -1;
  top: -26px;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(248, 248, 248);
  width: 100%;
  left: -20px;
}

.main-title {
  font-size: 3rem;
}

.welcome-subtitle {
  font-size: 1rem;
  margin-top: -2rem;

}

.main-title, .welcome-subtitle {
  font-weight: 100;
  text-transform: uppercase;
}

.responsive(@tablet, { .main-title {
  font-size: 8rem;

} .welcome-subtitle {
    font-size: 2rem;
  } .section-title {
      font-size: 3em;
    } .hashtag:before, .hashtag-right:before {
        top: -70px;
        font-size: 2.5em;
      } });


.responsive(@desktop, {

  .main-title {
  font-size: 8rem;
  }

  .welcome-subtitle {
    font-size: 2rem;
  }

  .section-title {
      font-size: 3.5em;
    }

  .hashtag:before, .hashtag-right:before {
        top: -110px;
        font-size: 3em;
      }

  .hashtag:before {
          left: -215px;
        }
  .hashtag-right:before {
            right: -215px;
          }

});





