body {
  background-color: #f2f2f2;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: #fafafa;
}

.white-background, .grey-background {
  padding-top: 50px;
  padding-bottom: 50px;
}


& .main-container {
  background-color: white;
  margin: auto;
  box-shadow: 0 9px 31px 20px #0000001a;
}

.main-container, .main-container-limit {
  max-width: 1600px;
  width: 100%;

}


.main-content {
  max-width: 1200px;
  margin: auto;
  padding: 15px 25px;

}

.full-width {
  width: 100%;
}