@import "./design";

@tablet: 768px;
@desktop: 1200px;

.responsive(@minWidth; @rules) {
  @media (min-width: @minWidth) {
    @rules();
  }
}

.object-fit(@fit: fill, @position) {
  -o-object-fit: @fit;
  object-fit: @fit;
  -o-object-position: @position;
  object-position: @position;
  font-family: 'object-fit: @{fit}; object-position: @{position}';
}

.object-fit(@fit: fill){
  -o-object-fit: @fit;
  object-fit: @fit;
  font-family: 'object-fit: @{fit}';
}


