html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  iframe {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
}

a::-moz-focus-inner {
  border: 0;
  outline:none;
}

input,
label,
select,
button,
textarea,
button
{
  margin:0;
  border:0;
  padding:0;
  vertical-align:middle;
  white-space:normal;
  background:none;
}

/* Remove the stupid outer glow in Webkit */
input:focus, button:focus, textarea:focus {
  outline:0;
}