@import "globalVariables";

.theme-default {
  //& .gradient {
  //  background: @theme-default;
  //
  //}

  //& .header.sticky {
  //  background-color: fade(@theme-default-main, 80%);
  //}

  & .scroll-block {
    &:hover {
      background-color: @theme-default-main;
    }
  }

  & .button {
    background: @theme-default;
  }

  .VueCarousel-dot {
    &.VueCarousel-dot {
      &.VueCarousel-dot--active {
        & .VueCarousel-dot-button {
          background: @theme-default-main !important;
        }

      }

    }

  }

  .card-overlay {
    background: @theme-default-main;
  }

  .share {
    & /deep/ .network {
      svg {
        &:hover {
          fill: @theme-default-main;
        }
      }
    }
  }

  .pagination {
    .active-page-item {
      background-color: @theme-default-main;
    }
  }

  footer {
    & .footer {
      background: @theme-default-main;

    }
  }

  p.text-background {
    &:first-letter {
      color: @theme-default-main !important;
    }
  }

  p.block-background {
    box-shadow: 59px 0 0 @theme-default-main, 0 0 0 @theme-default-main !important;
    &:after {
      background-color: @theme-default-main;
    }

    &:before {
      background-color: @theme-default-main;
    }
  }

}

.theme1 {
  //& .gradient {
  //  background: @theme1;
  //}

  //& .header.sticky {
  //  background-color: fade(@theme1-main, 80%);
  //}

  & .scroll-block {
    &:hover {
      background-color: @theme1-main;
    }
  }

  & .button {
    background: @theme1;
  }

  .VueCarousel-dot {
    &.VueCarousel-dot {
      &.VueCarousel-dot--active {
        & .VueCarousel-dot-button {
          background: @theme1-main !important;
        }

      }

    }

  }

  .card-overlay {
    background: @theme1-main !important;
  }

  .share {
    & /deep/ .network {
      svg {
        &:hover {
          fill: @theme1-main;
        }
      }
    }
  }

  .pagination {
    .active-page-item {
      background-color: @theme1-main;
    }
  }

  footer {
    & .footer {
      background: @theme1-main;

    }
  }

  p.text-background {
    &:first-letter {
      color: @theme1-main !important;
    }
  }

  p.block-background {
    box-shadow: 59px 0 0 @theme1-main, 0 0 0 @theme1-main !important;
    &:after {
      background-color: @theme1-main;
    }

    &:before {
      background-color: @theme1-main;
    }
  }
}

.theme2 {
  //& .gradient {
  //  background: @theme2;
  //}

  //& .header.sticky {
  //  background-color: fade(@theme2-main, 80%);
  //}

  & .scroll-block {
    &:hover {
      background-color: @theme2-main;
    }
  }

  & .button {
    background: @theme2;
  }

  .VueCarousel-dot {
    &.VueCarousel-dot {
      &.VueCarousel-dot--active {
        & .VueCarousel-dot-button {
          background: @theme2-main !important;
        }

      }

    }

  }

  .card-overlay {
    background: @theme2-main !important;
  }

  .share {
    & /deep/ .network {
      svg {
        &:hover {
          fill: @theme2-main;
        }
      }
    }
  }

  .pagination {
    .active-page-item {
      background-color: @theme2-main;
    }
  }

  footer {
    & .footer {
      background: @theme2-main;

    }
  }

  p.text-background {
    &:first-letter {
      color: @theme2-main !important;
    }
  }

  p.block-background {
    box-shadow: 59px 0 0 @theme2-main, 0 0 0 @theme2-main;
    &:after {
      background-color: @theme2-main !important;
    }

    &:before {
      background-color: @theme2-main;
    }
  }
}

.theme3 {
  //& .gradient {
  //  background: @theme3;
  //}

  //& .header.sticky {
  //  background-color: fade(@theme3-main, 80%);
  //}

  & .scroll-block {
    &:hover {
      background-color: @theme3-main;
    }
  }

  & .button {
    background: @theme3;
  }

  .VueCarousel-dot {
    &.VueCarousel-dot {
      &.VueCarousel-dot--active {
        & .VueCarousel-dot-button {
          background: @theme3-main !important;
        }

      }

    }

  }

  .card-overlay {
    background: @theme3-main !important;
  }

  .share {
    & /deep/ .network {
      svg {
        &:hover {
          fill: @theme3-main;
        }
      }
    }
  }

  .pagination {
    .active-page-item {
      background-color: @theme3-main;
    }
  }

  footer {
    & .footer {
      background: @theme3-main;

    }
  }

  p.text-background {
    &:first-letter {
      color: @theme3-main !important;
    }
  }

  p.block-background {
    box-shadow: 59px 0 0 @theme3-main, 0 0 0 @theme3-main !important;
    &:after {
      background-color: @theme3-main;
    }

    &:before {
      background-color: @theme3-main;
    }
  }
}