@import "globalVariables";

.theme-default {
  & .gradient {
    background: @theme-default;

  }

  & .button {
    background: @theme-default;
  }

}

.theme1 {
  & .gradient {
    background: @theme1;
  }

  & .button {
    background: @theme1;
  }
}

.theme2 {
  & .gradient {
    background: @theme2;
  }

  & .button {
    background: @theme2;
  }
}

.theme3 {
  & .gradient {
    background: @theme3;
  }

  & .button {
    background: @theme3;
  }
}